# Project exclude paths
/target/

#log files
*.log

#OS files
.DS_Store
Thumbs.db

/src/main/resources/application.properties
src/main/resources/application.properties
**/application.properties

*.properties