# Default ignored files
/shelf/
/workspace.xml

#log files
*.log

#OS files
.DS_Store
Thumbs.db

/src/main/resources/application.properties

*.properties
*.yaml
*.yml
/.idea/compiler.xml
/.idea/misc.xml

!/src/main/resources/application.yaml
!/src/main/resources/application-dev.yaml

/src/main/resources/application.yaml
src/main/resources/application.yaml
**/application.yaml

**/application-dev.yaml

/src/main/resources/application-dev.yaml
src/main/resources/application-dev.yaml